<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667249451741-br6n3bla0hv383ormveftn6t0d44qvuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667249451741-br6n3bla0hv383ormveftn6t0d44qvuu</string>
	<key>API_KEY</key>
	<string>AIzaSyAU8afX3mffebz0n408QdXBTkW8ii5mJ8k</string>
	<key>GCM_SENDER_ID</key>
	<string>667249451741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.herkeseSor</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-herkese-sor</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-herkese-sor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667249451741:ios:b646ff53848fdd20ccb134</string>
</dict>
</plist>